.did-you-know {
    display: grid;
    row-gap: 8px;
    background: #F7F9FF;
    border-radius: 26px;
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	* {
		margin: 0px;
		color: #0B0B10;
	}

    &__title {
		margin: 0px;
		&-text {
			display: flex;
			gap: 5px;
			font-weight: 600;
		}
    }

	&__emoji {
		line-height: 1.8rem;
	}

    p.did-you-know__content {
		font-weight: 400;
		color: #0B0B10;
    }
}