.did-you-know {
    display: grid;
    row-gap: 8px;
    border-radius: 26px;
    padding: 24px;
    font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;

    &__title {
		display: flex;
			gap: 5px;
		&-text {
			font-weight: 600;
			color: #0B0B10;
		}
    }

	&__emoji {
		line-height: 1.8rem;
	}

    p.did-you-know__content {
		font-weight: 400;
		color: #0B0B10;
    }
}


/* Brand related styles */
.brand-cardcorp .did-you-know {
	 background: #F7F8FD;
}

.brand-billpro .did-you-know {
	 background: #F7F9FF;
}